/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 2em 1em;
  line-height: 1.5em;
}

h1 {
  font-style: italic;
  color: #373fff;
  max-width: calc(100% - 5rem);
  line-height: 1.1;
}

.small, summary {
  font-size: 80%;
}

.badge {
  background: var(--background-color);
  padding: 2px 10px;
  color: white;
  border-radius: 12px;
}

.v1 {
  --background-color: #0034ff;
}

.v0 {
  --background-color: red;
}
